<!DOCTYPE html>
<html lang="en" ng-app="myNoteApp">
<head>
    <meta charset="UTF-8">
    <title>Anjula JS</title>
    <script src="../../lib/angular.min.js"></script>
</head>
<body>

<div ng-controller="myNoteCtrl">
    <h2>我的笔记</h2>
    <p><textarea ng-moudle="message" cols="40" rows="10"></textarea> </p>

    <p>
        <button ng-click="save()">保存</button>
        <button ng-click="clear()">清除</button>
    </p>

    <p>Number of characters left:<span ng-bind="left()"></span> </p>
</div>

<script src="js/myNoteApp.js"></script>
<script src="js/myNoteCtrl.js"></script>

</body>

<!--<body>-->

<!--<div ng-controller="myNoteCtrl">-->

    <!--<h2>我的笔记</h2>-->

    <!--<p><textarea ng-model="message" cols="40" rows="10"></textarea></p>-->

    <!--<p>-->
        <!--<button ng-click="save()">保存</button>-->
        <!--<button ng-click="clear()">清除</button>-->
    <!--</p>-->

    <!--<p>Number of characters left: <span ng-bind="left()"></span></p>-->

<!--</div>-->

<!--<script src="../js/myNoteApp.js"></script>-->
<!--<script src="../js/myNoteCtrl.js"></script>-->

<!--</body>-->
</html>